.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
    border:0.1px solid lightgrey;
    border-radius: 3px;
    width: 350px;
    background-color: white;
    text-align: center;
    margin: 10% 0;
}

.cart-message a {
    margin: 15px 0;
    width: 80%;
    padding: 10px 0;
}

.cart-message p {
    margin: 15px 0 15px 0;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cart .db-container {
    flex-basis: 60%;
}

.cart div:nth-child(2) {
    flex-basis: 20%;
}

.cart div:nth-child(2) a{
    padding: 10px 50px;
}



.db-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.db-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    text-align: center;
    border: 0.1px solid lightgrey;
}
.db-table thead th {
    background-color: #584a41;
    color: #ffffff;
    text-align: center;
}
.db-table th,
.db-table td {
    padding: 12px 15px;
}

.db-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.db-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.db-table tbody tr:last-of-type {
    border-bottom: 2px solid #7e7e7e;
}

.db-table thead tr:first-child th{
    text-align: center;
    border-bottom: 1px solid #dddddd;
    background-color: white;
    color: #323232;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #4f6d7e;
    border: 0;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}