  /* ------------------------ Quote of the day Start ------------------ */
.quote-container-second{
  width: 100%;
  height: 350px;
  border-top: 1.5px solid #2d2f31;
  background-color: rgb(83, 83, 83) ;
}

.quote-heading{
  text-align: center;
  margin-bottom: 15px;
  font-size: 30;
  color:#000000;
  margin-top: 50px;
}

.quote-body {
  width: 100%;
  height: 200px;
  background-color: transparent;
  padding: 20px 10px ;
}

.quote{
  text-align: center;
  color: #000000;
  height: 42px;
  overflow: auto;
}

.icon{
  margin-right: 5px;
}

.quote{
  filter: blur(2px);
}

.author{
  text-align: center;
  margin-top: 15px;
  filter: blur(2px);
  color: #000000;
}

.quote-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  border-top: 1px solid #93a0ac;
  padding: 15px 0;
}

.tweet-quote{
  position: absolute;
  top: 10px;
}

.tweet-quote a{
  padding-left: 50px;
  font-size: 40px;
  color: #2a8dff;
  transition: 0.3s ease;
  text-decoration: none;
}

.tweet-quote a:hover{
  color: #00acee;
}

#already-picked {
  position: relative;
  font-size: 9px;
  color:#000000;
}

.tweet-quote span{
  font-size: 16px;
}

.quote-btn button{
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: #11a9eb;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  
}

.quote-btn button:active{
  background-color: #00acee;
}