@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 15pt;
}

#l-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    list-style: none;
    
}

#l-nav li, #r-nav li{
    padding-left: 40px;
    
}
#l-nav li+li  a:hover, #r-nav li a:hover{
    border-bottom: 2px solid rgb(93, 100, 201);
    
}

#l-nav #selected-page {
  border-bottom: 2px solid rgb(93, 100, 201);
}

#l-nav li a img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

#r-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
    list-style: none;
}

#r-nav li a img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
}

/* Slider nder NavBar */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  --color1: #525252;
  --color2: #7c6957;
  --color3: #545a48;
}
:root * {
  outline: none;
}

html, body, #newProducts-slider {

  width: 100%;
  height: 100%;
  margin: 0;
}

#newProducts-slider {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
 .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-left {
  padding-top: 15px;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left h1 {
  text-align: center;
}
.hero-left button {
  position: absolute;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 2;
}
.hero-left button:last-of-type {
  right: 0;
}
.hero-left button:active {
  transform: scale(0.9);
}
.hero-left .layers {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-left .layers .layer {
  display: grid;
  grid-template-rows: 6rem 3fr 1fr;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
  transform: translateX(100%);
  opacity: 0;
}
.hero-left .layers .layer-displayed {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}
.hero-left .layers .layer-displayed-exit {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}
.hero-left .layers .layer > span {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.hero-left .layers .layer__image {
  background-image: url("images/sofa1.webp");  
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}
.hero-left .layers .layer__info {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  column-gap: 2rem;
  font-size: 1.5rem;
}
.hero-left .layers .layer__info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left .layers .layer__info div:first-child {
  align-items: flex-end;
  color: gray;
}
.hero-left .layers .layer__info div:last-child {
  font-weight: bold;
}
.hero-left .layers .layer:nth-child(1) > span {
  color: var(--color1);
}
.hero-left .layers .layer:nth-child(2) > span {
  color: var(--color2);
}
.hero-left .layers .layer:nth-child(3) > span {
  color: var(--color3);
}
.hero-right {
  grid-column: 2;
  position: relative;
  overflow: hidden;
}
.hero-right > .layer {
  background-color: #E41936;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
}
.hero-right > .layer-displayed {
  transform: translateX(0);
  z-index: 2;
}
.hero-right > .layer-displayed-exit {
  transition-delay: 1s;
  transition-duration: 0;
  z-index: 1;
}
.hero-right > .layer:nth-child(1) {
  background-color: var(--color1);
}
.hero-right > .layer:nth-child(2) {
  background-color: var(--color2);
}
.hero-right > .layer:nth-child(3) {
  background-color: var(--color3);
}
.hero-right .photo-name {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 20%;
  font-size: 1.5rem;
  z-index: 2;
}
.hero-right .photo-name span {
  display: block;
}
.hero-right .photo-name__wrapper {
  position: relative;
}
.hero-right .photo-name__title {
  font-weight: bold;
}
.hero-right .photo-name .layer {
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.hero-right .photo-name .layer-displayed {
  transform: translateX(0);
  transition-delay: 0.5s;
}
.hero-right .photo-frame {
  position: absolute;
  overflow: hidden;
  animation-play-state: paused;
}
.hero-right .photo-frame:nth-child(4) {
  top: 10%;
  left: 10%;
  width: 40%;
  height: 40%;
  z-index: 3;
}
.hero-right .photo-frame:nth-child(4) .cover {
  background-color: black;
}
.hero-right .photo-frame:last-child {
  top: 40%;
  left: 20%;
  width: 65%;
  height: 50%;
  z-index: 2;
}
.hero-right .photo-frame .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.hero-right .photo-frame .layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition-delay: 0.5s;
}
.hero-right .photo-frame .layer-displayed {
  opacity: 1;
}

@keyframes cover {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
}


/* Div me reklam per nje collection */
.collection{
  background-color: #2e2e2e;
}

.collection-div {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: white;
    height: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.collection-div #left-side{
    background-color: red;
    width: 60%;
    height: 100%;
    max-height: 100%;
    
}

.collection-div #left-side img{
    width: 100%;
    height: 100%;

}


.collection-div #right-side{
    display: flex;
    background-color: #c0c1c9;
    width: 40%;
    height: 100%;
    max-height: 100%;
    align-items: center;
    flex-direction: column;
    padding: auto;
    
}

.collection-div #right-side h1, .collection-div #right-side p, .collection-div #right-side button{
    margin-top: 20px;
    color: black;
}
.collection-div #right-side h1{
    font-size: 18pt;
}
.collection-div #right-side p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 14pt;
}

.collection-div #right-side button{
    width: 15%;
    height: 5%;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 20px;
}

.collection-div #right-side a{

    text-decoration: none;
    color: white;
    
}


/*End of Div style*/

/* ---------------Products Grid Div--------------*/

.products-grid{
    width: 100%;
    margin-bottom: 50px;
    padding-top: 30px;
}

#product-grid-title h2{
  font-size: 22pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#content{
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(42, 1fr);
  grid-auto-rows: minmax(550px, auto);
  grid-gap: 10px;
  
  max-width: 80%;
  margin: 0 auto;
}
#content div{
  background: #3bbced;
  padding: 30px;
}
#content div:nth-child(even){
  background: #777;
}
#content .one{
  grid-column: 1 / 1;
  grid-row: 1/9;
  background-image: url(images/grid1.png) !important;
}
#content .two{
  grid-column: 2 / 2;
  grid-row: 1/8;
  background-image: url(images/grid2.png) !important;
}
#content .three{
  grid-column: 3 / 3; 
  grid-row: 1/9;
  background-image: url(images/grid3.png) !important;
}
#content .four{
  grid-column: 1/1;
  grid-row: 9/17;
  background-image: url(images/grid4\ .jpg) !important;
}
#content .five{
  grid-column: 2/2;
  grid-row: 8/16;
  background-image: url(images/grid5.png) !important;
}
#content .six{
  grid-column: 3/3;
  grid-row: 9/17;
  background-image: url(images/grid6.png) !important;

}
#content .seven{
  grid-column: 1 / 1;
  grid-row: 17/25;
  background-image: url(images/grid7.png) !important;

}
#content .eight{
  grid-column: 2/2;
  grid-row: 16/24;
  background-image: url(images/grid8.png) !important;

}
#content .nine{
  grid-column: 3/3;
  grid-row: 17/25;
  background-image: url(images/grid9.png) !important;

}
#content .ten{
  grid-column: 1 / 1;
  grid-row: 25/33;
  background-image: url(images/grid10.png) !important;

}
#content .eleven{
  grid-column: 2/2;
  grid-row: 24/32;
  background-image: url(images/grid11.png) !important;

}
#content .twelve{
  grid-column: 3/3;
  grid-row: 25/33;
  background-image: url(images/grid12.png) !important;

}
#content .thirteen{
  grid-column: 1 / 1;
  grid-row: 33/41;
  background-image: url(images/grid13.png) !important;

}
#content .fourteen{
  grid-column: 2/2;
  grid-row: 32/40;
  background-image: url(images/grid14.png) !important;

}
#content .fifteen{
  grid-column: 3/3;
  grid-row: 33/41;
  background-image: url(images/grid15.png) !important;

}
.sixteen{opacity: 0;}



/*-----------------End of Products Grid Div------------------*/
#testi {
    background-color: aqua;
    width: 100%;
    height: 20%;
}