*{
    margin: 0px;
    padding: 0px;
}
#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 15pt;
}

#l-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    list-style: none;
    
}

#l-nav li, #r-nav li{
    padding-left: 40px;
    
}
#l-nav li+li  a:hover, #r-nav li a:hover{
    border-bottom: 2px solid rgb(93, 100, 201);
    
}
#l-nav #selected-page {
    border-bottom: 2px solid rgb(93, 100, 201);
  }

#l-nav li a img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

#r-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
    list-style: none;
}

#r-nav li a img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
}
/* ------------- End of Navbar ----------- */

#main{
    height: 750px;
}
#main img{
    width: 100%;
    height: 750px;
}



/* ------------------------ Footer Start ------------------ */
footer{
    background: rgb(24, 24, 24);
    height: 300px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-top: 30px;
    color: white;
    margin-top: auto;
}
.footer-logo-container img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials li {
    margin: 0 10px;
}
.socials a{
    color: white;
}
.socials a:hover{
    color: gray;
}
/* ------------------------ Footer ending ------------------ */