@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 15pt;
}

#l-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    list-style: none;
    
}

#l-nav li, #r-nav li{
    padding-left: 40px;
    
}
#l-nav li+li  a:hover, #r-nav li a:hover{
    border-bottom: 2px solid rgb(93, 100, 201);
    
}

#l-nav li a img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

#r-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
    list-style: none;
}

#r-nav li a img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
}

/* MAIN */  
#main{
    background-color: rgb(32, 31, 31);
    width: 1920px;
}
/* slider */
#slider{
    width: 1920px;
    max-height: 650px;
    display: flex;
}
#slider input{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 0px;
    border-radius: 10px;
    position: absolute;
    margin-left: 835px;
    margin-top: 300px;
    
}

#slider img{
    width: 1990px;
    height: 650px;

}


/*  products */
#products{
    display: flex;
    
    width: 1400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
    background-color: rgb(59, 58, 58);
    padding: 20px;
    
}

.prods a{
    text-decoration: none;
    color: black;
}

#product1{
    
    width: 700px;
    height: 345px;
    background-image: url("sofa1.png");
    
}

#product1  div{
    margin-left: 160px;
    margin-top: 10px;
    color: black ;
}

#product1:hover{
    background-image: url("sofa1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    
}
#product1:hover > div {
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}


#product2{
    width: 690px;
    height: 695px;
    margin-left: 10px;
    background-image: url("chair2.png");

}
#product2 div{
    margin-left: 600px;
    margin-top: 20px;
}
#product2:hover{
    background-image: url("chair2a.jpg");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;

}
#product2:hover > div{
    margin-left: 10px;
    margin-bottom: 10px;
}

#product3{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    background-image: url("chair1.png");
    
    
}

#product3:hover{
    background-image: url("chair1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    background-repeat: no-repeat;
    
}
#product3 div{
    margin-left: 260px;
    margin-top: 15px;
}

#product3:hover > div {
    margin-left: 50px;
    margin-bottom: 10px;
}

#product4{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    margin-left: 10px;
    background-image: url("komod1.png");
    
}
#product4 div{
    margin-top: 80px;
    margin-left: 13px;
}

#product4:hover{
    background-image: url("komod1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    
}

#product4:hover > div{
    margin-bottom: 10px;
    margin-left: 10px;
}
/*Carousel slider for products */
#wrapper {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 90%;
    height: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper h2{
      position: absolute;
      color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
.products-box a{
    text-align:center;
    text-decoration: none;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    /* margin: 20px; */
}
.products-box:hover{
    margin-top: 0px;
    
}
.products-box:hover .products-img{
  transform: translateY(-100px);
}
.products-img img{
    width: 300px;
    height: 300px;
    border-radius: 5px; 
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
    object-fit: cover;
}
.products-content{
  position: relative;
  text-align: center;
  margin-top: -110px;
  padding: 10px 15px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  color: rgb(255, 255, 255);
}
 .products-box:hover .products-content{
  opacity: 1;
  animation: stretch 1.2s forwards;
}
.products-box{
    min-height: 330px;
    background: inherit;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
    /*overflow: hidden;*/
    border-top: 3px solid #292929;
    transition: all 0.5s ease-in-out 0s;
    margin-top: 20px;
}

@keyframes stretch {
  from{
      visibility: hidden;
      top: -80px;
  }
  to{
      visibility: visible;
      top: 0px;
  }
}
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item {
    width: 300px;
    height: 300px;
    background: green;
  }
  
/*End of Carousel*/
/* ------------------------ About Us Section Start ------------------ */
.about-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1440px;
    background-color: rgb(59, 58, 58);
    box-shadow: 0px 3px 20px rgba(0,0,0,0.4);
}

.about-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.about-imgBox{
    position: relative;
    left: 25px;
    width: 700px;
    height: 550px;
    z-index: 1;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.85);
}

.about-imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-contentBox{
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #929292;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.85);
}

.about-contentBox h1{
    font-size: 30px;
    color: white;
}

.about-contentBox p{
    margin-top: 10px;
    color: white;
}

.about-contentBox a{
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 4px 10px;
    border: 2px solid rgba(255,255,255,1);
}
/* ------------------------ About Us Section Ending ------------------ */