@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
#navbar {
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 15pt;
}

#l-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    list-style: none;
    
}

#l-nav li, #r-nav li{
    padding-left: 40px;
    
}
#l-nav li+li  a:hover, #r-nav li a:hover{
    border-bottom: 2px solid rgb(93, 100, 201);
    
}

#l-nav li a img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

#r-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
    list-style: none;
}

#r-nav li a img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
}

/* MAIN */  
#main{
    background-color: rgb(32, 31, 31);
    width: 1920px;
}
/* slider */
#slider{
    width: 1920px;
    max-height: 650px;
    display: flex;
}
#slider input{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 0px;
    border-radius: 10px;
    position: absolute;
    margin-left: 835px;
    margin-top: 300px;
    
}

#slider img{
    width: 1990px;
    height: 650px;

}

/*  products */
#products{
    display: flex;
    
    width: 1400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
    background-color: rgb(59, 58, 58);
    padding: 20px;
    
}

.prods a{
    text-decoration: none;
    color: black;
}

#product1{
    
    width: 700px;
    height: 345px;
    background-image: url("sofa1.png");
    
}

#product1  div{
    margin-left: 160px;
    margin-top: 10px;
    color: black ;
}

#product1:hover{
    background-image: url("sofa1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    
}
#product1:hover > div {
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}


#product2{
    width: 690px;
    height: 695px;
    margin-left: 10px;
    background-image: url("chair2.png");

}
#product2 div{
    margin-left: 600px;
    margin-top: 20px;
}
#product2:hover{
    background-image: url("chair2a.jpg");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;

}
#product2:hover > div{
    margin-left: 10px;
    margin-bottom: 10px;
}

#product3{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    background-image: url("chair1.png");
    
    
}

#product3:hover{
    background-image: url("chair1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    background-repeat: no-repeat;
    
}
#product3 div{
    margin-left: 260px;
    margin-top: 15px;
}

#product3:hover > div {
    margin-left: 50px;
    margin-bottom: 10px;
}

#product4{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    margin-left: 10px;
    background-image: url("komod1.png");
    
}
#product4 div{
    margin-top: 80px;
    margin-left: 13px;
}

#product4:hover{
    background-image: url("komod1a.png");
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    
}

#product4:hover > div{
    margin-bottom: 10px;
    margin-left: 10px;
}


