@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

/*-------------------------- Back to top button -----------------------*/
#to-top-btn{
    display: inline-block;
    position:fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(32, 32, 32);
    cursor: pointer;
    outline: none;
    border: 3px solid rgb(32,32,32);
    border-radius: 1px;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 30;
}

#to-top-btn:hover,  #to-top-btn:focus{
    background-color: rgb(52, 52, 52);
    color: white;
}

#to-top-btn.show {
    opacity: 1;
    visibility: visible;
  }
/*--------------------------End of to top Button------------------------------*/  
#navbar {
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 15pt;
}

#l-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    list-style: none;
    
}

#l-nav li, #r-nav li{
    padding-left: 40px;
    
}
#l-nav li+li  a:hover, #r-nav li a:hover{
    border-bottom: 2px solid rgb(93, 100, 201);
    
}
#l-nav #selected-page {
    border-bottom: 2px solid rgb(93, 100, 201);
  }

#l-nav li a img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

#r-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
    list-style: none;
}

#r-nav li a img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
}


/* MAIN */  
#main{
    background-color: rgb(24, 24, 24);
    width: 1920px;
}

/* slider */
#banner-section{
    position: relative;
    height: 80vh;
    z-index: 1;
    overflow: hidden;
    background-color: black;
}

/* #banner-section input{
    width: 700px;
    height: 60px;
    padding-left: 20px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    margin-left: 610px;
    margin-top: 300px;
    text-align: center;
    
} */
#banner-section input i{
    position: absolute;
}
.input-box{
    margin-left: 610px;
    margin-top: 300px;
    display: flex;
    width: 700px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    opacity: 60%;
    
}
.input-box > i{
    margin-left: 8px;
    font-size: 30px;
    color: #777;
}
.input-box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    opacity: 0; 
    animation: cycleImages 31s infinite; 
}

.slideshow-item img{
    width: 1920px;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite; 
    filter: blur(0.2rem);
}

.slideshow-item:nth-child(1), .slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2), .slideshow-item:nth-child(2) img{
    animation-delay: 9s;
}
.slideshow-item:nth-child(3), .slideshow-item:nth-child(2) img{
    animation-delay: 15s;
}
.slideshow-item:nth-child(4), .slideshow-item:nth-child(2) img{
    animation-delay: 21s;
}
.slideshow-item:nth-child(5), .slideshow-item:nth-child(2) img{
    animation-delay: 27s;
}


@keyframes cycleImages {
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}

/*  products */
#products{
    display: flex;
    
    width: 1400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    
}

.prods a{
    text-decoration: none;
    color: black;
}

#product1{
    
    width: 700px;
    height: 345px;
    background-image: url(images/sofa1.png);
    
}

#product1  div{
    margin-left: 160px;
    margin-top: 10px;
    color: black ;
}

#product1:hover{
    background-image: url(images/sofa1a.png);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    transition: 0.3s ease-in;
    
}
#product1:hover > div {
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}


#product2{
    width: 690px;
    height: 695px;
    margin-left: 10px;
    background-image: url(images/chair2.png);

}
#product2 div{
    margin-left: 600px;
    margin-top: 20px;
}
#product2:hover{
    background-image: url(images/chair2a.jpg);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    transition: 0.3s ease-in;

}
#product2:hover > div{
    margin-left: 10px;
    margin-bottom: 10px;
}

#product3{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    background-image: url(images/chair1.png);
    
    
}

#product3:hover{
    background-image: url(images/chair1a.png);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    background-repeat: no-repeat;
    transition: 0.3s ease-in;
    
}
#product3 div{
    margin-left: 260px;
    margin-top: 15px;
}

#product3:hover > div {
    margin-left: 50px;
    margin-bottom: 10px;
}

#product4{
    width: 345px;
    height: 340px;
    margin-top: -345px;
    margin-left: 10px;
    background-image: url(images/komod1.png);
    
}
#product4 div{
    margin-top: 80px;
    margin-left: 13px;
}

#product4:hover{
    background-image: url(images/komod1a.png);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    transition: 0.3s ease-in;
    
}

#product4:hover > div{
    margin-bottom: 10px;
    margin-left: 10px;
}
/*Carousel slider for products */
#wrapper {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 90%;
    height: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
  #wrapper h2{
      position: absolute;
      color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
.products-box a{
    text-align:center;
    text-decoration: none;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    /* margin: 20px; */
}
.products-box:hover{
    margin-top: 0px;
    
}
.products-box:hover .products-img{
  transform: translateY(-100px);
  transition: 1.3s ease-in-out;
}
.products-img img{
    width: 300px;
    height: 300px;
    border-radius: 5px; 
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
    object-fit: cover;
}
.products-content{
  position: relative;
  text-align: center;
  margin-top: -110px;
  padding: 10px 15px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  color: rgb(255, 255, 255);
}
 .products-box:hover .products-content{
  opacity: 1;
  animation: stretch 1.2s forwards;
}
.products-box{
    min-height: 330px;
    background: inherit;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
    /*overflow: hidden;*/
    border-top: 3px solid #292929;
    transition: all 0.5s ease-in-out 0s;
    margin-top: 20px;
}

@keyframes stretch {
  from{
      visibility: hidden;
      top: -80px;
  }
  to{
      visibility: visible;
      top: 0px;
  }
}
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item {
    width: 300px;
    height: 300px;
    background: green;
  }
  
/*End of Carousel*/

/* Start of Stats */

.stat-container{
    background: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    min-height: 280px;
    font-family: "Poppins", sans-serif;
}

.stat-heading{
    margin-top: 10px;
}

.stat-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

.stat-box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.stat-box i {
    transition: 0.3s ease-in-out;
}

.stat-box i:hover {
    transform: translateY(-5px);
    
}

.statistics{
    font-size: 30px;
}



/* End of Stats */
/* ------------------------ About Us Section Start ------------------ */
.about-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: white;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.4);
    background-color: inherit;
    font-family:'Poppins', sans-serif;

}

.about-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.about-imgBox{
    position: relative;
    left: 25px;
    width: 500px;
    height: 450px;
    z-index: 1;
    box-shadow: 0px 3px 20px rgba(255, 255, 255, 0.4);
}

.about-imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-contentBox{
    position: relative;
    right: 25px;
    width: 500px;
    height: 350px;
    background: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.85);
}

.about-contentBox h1{
    font-size: 30px;
    color: white;
}

.about-contentBox p{
    margin-top: 10px;
    color: white;
}

.about-contentBox a{
    height: 20px;
    width: 90px;
    display: inline-block;
    margin-top: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 4px 10px;
    border: 2px solid rgba(255,255,255,1);
    background: white;
}

/* ------------------------ About Us Section Ending ------------------ */

/* ------------------------ Footer Start ------------------ */
footer{
    background: rgb(24, 24, 24);
    height: 300px;
    width: 1920px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-top: 30px;
    color: white;
    margin-top: auto;
}
.footer-logo-container img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials li {
    margin: 0 10px;
}
.socials a{
    color: white;
}
.socials a:hover{
    color: gray;
}
/* ------------------------ Footer ending ------------------ */

@media (max-width: 850px){
    
    #navbar {
    width: 850px;
    height: 100px;
    
    }
    #navbar ul li a{
        font-size: 12pt;

    }
    #l-nav{
        width: 55%;

    }
    #l-nav  li{
        padding-left: 5px;
    }
    #r-nav{
        margin-right: 40px;
    }
    
    /* ------------------------------------------ */
    #main{
        max-width: 850px;
    }
    #banner-section{
        width: 850px;
        height: 60vh;
    }
    #banner-section .input-box{ 
        width: 300px;
        height: 40px;
        margin-left: 30%;
        margin-top: 220px;
    }
    /* -------------------------------------------- */
    #products{
        max-width: 785px;
        max-height: 350px;
        margin-left: 2.5%;
        
    }
    #product1{
        width: 350px;
        height: 170px;
        background-repeat: no-repeat;
        background-size: 350px 170px;
    }
    #product2{
        width: 345px;
        height: 345px;
        background-repeat: no-repeat;
        background-size: 345px 345px;
    }
    #product2 .prods{
        margin-left: 10px;
    }

    #product3{
        width: 170px;
        height: 170px;
        background-repeat: no-repeat;
        background-size: 175px 170px;    
         margin-top: -170px;

    }
    #product3 .prods{
        margin-top: 0px;
        margin-left: 95px;
    }
    #product4{
        width: 170px;
        height: 170px;
        background-repeat: no-repeat;
        background-size: 175px 170px;  
        margin-top: -170px;

    }
    #product4 .prods{
        margin-top: 0px;
    }
/* -------------------------------------------------- */
    #wrapper {
        width: 850px;
        margin-left: 3.5%;
    }
    #carousel {
        width: 800px;
        
    }
    #wrapper #next{
        right: 0%;
    }
    #wrapper #prev{
        left: -4%;
    }

    /* ---------------------------------- */

    #stats{
        max-width: 850px;
    }

    /* -------------------------------------- */

    #home-about{
        max-width: 850px;
    }
    #home-about .about-card{
        max-width: 750px;
    }

    /* --------------------------------------------------------- */

    #second-carousel{
        max-width: 850px;
    }

    #second-carousel #wrapper2{
        max-width: 90%;
    }

    /* ---------------------------------------------------------- */

    .quote-container .quote-body{
        max-width: 830px;
    }

    /* ------------------------- */

    footer {
        max-width: 850px;
    }

}


@media (max-width: 500px){
    

    #navbar {
    width: 500px;
    height: 80px;
    }
    
    #l-nav li a img{
        margin-top: 5px;
        width: 60px;
        height: 60px;
    }

    #navbar ul li a{
        font-size: 10pt;

    }
    #l-nav{
        width: 400px ;
        margin-left: 0px;

    }
    #l-nav  li, #r-nav li{
        padding-left: 5px;
    }
    #r-nav {
        width: 100px;
        margin-right: 5px;
    }
    
    /* ------------------------------------------ */
    #main{
        max-width: 500px;
    }
    #banner-section{
        width: 500px;
        height: 60vh;
    }
    #banner-section .input-box{ 
        width: 300px;
        height: 40px;
        margin-left: 15%;
        margin-top: 220px;
    }
    /* -------------------------------------------- */
    #products{
        max-width: 400px;
        max-height: 650px;
        margin-left: 4%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #product1, #product4{
        width: 400px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin-top: 10px;
        margin-left: 0px;
    }
    #product2, #product3{
        width: 195px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: 200px 200px;
        margin-left: 0px;
        margin-top: 10px;
    }
    #product3{
        margin-left: 205px;
        margin-top: -200px;
    }
    #product1 .prods{
        margin-left: 80px;
    }
    
    #product2 .prods{
        margin-left: 10px;
        margin-top: 0px;
    }
    #product3 .prods{
        margin-top: 0px;
        margin-left: 120px;
    }
    
    #product4 .prods{
        margin-top: 0px;
    }
/* -------------------------------------------------- */
    #wrapper {
        width: 500px;
        margin-left: 5.5%;
    }
    /* #carousel {
        width: 800px;
        
    } */
    #wrapper #next{
        right: -9%;
    }
    #wrapper #prev{
        left: -9%;
    }

    /* ---------------------------------- */

    #stats{
        max-width: 500px;
    }

    /* -------------------------------------- */

    #home-about{
        max-width: 500px;
        height: 700px;
    }
    #home-about .about-card{
        max-width: 500px;
        height: 650px;
    }
    #home-about .about-card .about-imgBox{
        width: 600px;
        height: 650px;
    }
    #home-about .about-card .about-contentBox{
        
        height: 550px;
    }
    
    

    /* --------------------------------------------------------- */

    #second-carousel{
        max-width: 500px;
    }

    #second-carousel #wrapper2{
        max-width: 90%;
    }

    /* ---------------------------------------------------------- */

    .quote-container .quote-body{
        max-width: 480px;
    }

    /* ------------------------- */

    footer {
        max-width: 500px

}

}