*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}

*::selection{
    background: rgba(62,224,208,0.7);
}

.form{
    height:100%;
    width:100%;
    background-position: center;
    background-size: cover;
    position:absolute;
    background: burlywood;
}

.form-box{
   width:380px;
   height: 480px;
   position:relative;
   margin: 6% auto;
   background:#fff;
   padding: 5px;
   overflow: hidden;   
   border: 2px solid rgb(154, 66, 39);
}

.button-box{
    width:220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height:100%;
    
    background: linear-gradient(326deg, #383228 0%, #c2a783 40%);
    border-radius:30px ;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
   
}
.social-icons a{
    /* width: 50px;
    height: 50px; */
    margin:0 15px;
    cursor: pointer;
    padding: 0 18px;
    font-size: 20px;
}
.social-icons a:nth-child(1){
    color: steelblue;
}
.social-icons a:nth-child(2){
    color: rgb(0, 140, 255);
}
.social-icons a:nth-child(3){
    color: steelblue;
}
.social-icons a:hover{
    color:rgb(9, 36, 59);
}
.input{
    top:180px;
    position:absolute;
    width:280px;
    transition: .5s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin:5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999 ;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(326deg, #383228 0%, #c2a783 40%);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
/* // kqyre */

p{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    margin-left: 30px;
}
 #login{
     left:50px;

 }

 #register{
   left:450px;
 }