*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}

*::selection{
    background: rgba(62,224,208,0.7);
}
/* #logo{
    width: 300px;
    height: 300px;
    position:relative;
    background-color: #66573e;
}
#logo */
body{
    background-color: #2b2927;
    background-image: url(background.png);
    background-repeat: no-repeat;
}
img{ 
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 200px;
}

.form{
    margin-top: -85px;
    height:880px;
    width:100%;
    background-position: center;
    background-size: cover;
    position:absolute;
    background: transparent;
}

.form-box{
   width:380px;
   height: 480px;
   position:relative;
   margin: 6% auto;
   background:rgb(252, 252, 252);
   padding: 5px;
   overflow: hidden;   
   /* border: 2px solid rgb(175, 62, 28); */
   border-radius: 50px;
}

.button-box{
    width:220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #0000004b;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: rgb(196, 127, 23);
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height:100%;
    
    background: linear-gradient(326deg, #16130c 0%, #161412 40%);
    border-radius:30px ;
    transition: .5s;
}

.social-icons{
    margin: 40px auto;
    text-align: center;
   
}
.social-icons a{
    /* width: 50px;
    height: 50px; */
    margin:0 15px;
    cursor: pointer;
    padding: 0 18px;
    font-size: 20px;
}
.social-icons a:nth-child(1){
    color: steelblue;
}
.social-icons a:nth-child(2){
    color: rgb(0, 140, 255);
}
.social-icons a:nth-child(3){
    color: rgb(177, 74, 48);
}
.social-icons a:hover{
    color:rgb(250, 250, 250);
}
.input{
    top:180px;
    position:absolute;
    width:280px;
    transition: .5s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin:5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(0, 0, 0) ;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(326deg, #16130c 0%, #161412 40%);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: rgb(196, 127, 23);
}
.check-box{
    margin: 30px 10px 30px 0;
}
/* // kqyre */

p{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    margin-left: 20px;
    
}
 #login{
     left:50px;

 }

 #register{
   left:450px;
 }